@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kanit:wght@300&family=Merriweather:wght@300;400&family=Potta+One&family=Roboto:wght@300&family=Rubik&family=Shippori+Antique+B1&family=Tiro+Devanagari+Sanskrit&family=Yanone+Kaffeesatz:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color:black;
    /* width:300px; */
    height:100vh;
    font-family: 'Rubik', sans-serif;
    position:absolute;
}
.sidebar nav{
    padding:42px;
}
.sidebar nav li{
    list-style:none;
    font-size:25px;
    padding:50px 3px;
}
.sidebar nav li a{
    text-decoration:none;
    color:white;
}
.main{
    /* background-color:rgb(167, 64, 167);  */
    width:88vw;
    font-family: 'Rubik', sans-serif;
    
    
}
.container{
    display:flex; 
}
.main .about{
    margin-top:40px;
    margin-left:40px;
    margin-bottom:20px;
    
   
}
.myInfo{
    display:flex;
    height:30vh;
    
}
.aboutMe{
    margin:30px;
    color: #777777;
}
.skillContainer{
    margin:30px;
    
}
.skillContainer p{
    margin-top:30px;
    color: #777777;
}
.main h1{
    margin-bottom:40px;
}
.myPic img{
    height:50vh;
}
.skills-1{
    margin:5px;
    border-radius:14px;
    width: 200px;
    height: 8px;
    background-color:red;
    
}
.skills-2{
    margin:5px;
    border-radius:14px;
    width: 150px;
    height: 8px;
    background-color:red;
    
}
.skills-3{
    margin:5px;
    border-radius:14px;
    width: 50px;
    height: 8px;
    background-color:red;
    
}
.skills-4{
    margin:5px;
    border-radius:14px;
    width: 120px;
    height: 8px;
    background-color:red;
}
.skills-5{
    margin:5px;
    border-radius:14px;
    width: 80px;
    height: 8px;
    background-color:red;
}
.skills-6{
    margin:5px;
    border-radius:14px;
    width: 130px;
    height: 8px;
    background-color:red;
}
.skills-7{
    margin:5px;
    border-radius:14px;
    width: 170px;
    height: 8px;
    background-color:red;
}
.skills-8{
    margin:5px;
    border-radius:14px;
    width: 90px;
    height: 8px;
    background-color:red;
}
.sidebarGo{
    
    transform: translateX(-250px);
    position: absolute;
    
}
/* Hamburger icon */
.ham{
    width:23px;
}
.hamburger{
    position: absolute;
    
    cursor: pointer;
    top: 10px;
    left: 20px;
}
/* Cross icon */
.close{
    margin-left:171px;
    width:23px;
    filter:invert(100%);
    
}
/* <=================================================RESPONSIVENESS =========================================>*/

@media (max-width:755px){
    /* body{background-color:yellow;} */
    .aboutMe p{
        font-size:15px;
    }
    
}

@media (max-width:541px){
    /* body{background-color:yellow;} */
    .aboutMe p{
        
        font-size:13px;
    }
    .myPic img{
        height:30vh;
    }
    
}



